body {
  background-color: hsl(147, 37%, 59%);
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font: 18px/28px body, sans-serif;
  margin: 50px auto;
}

.menu {
  width: 600px;
  vertical-align: top;
  display: flex;
  align-content: space-between;
  list-style: none;
}

.menu__item {
  color: gray;
  border-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
}

a.menu__item:hover {
  color: rgb(0, 0, 0);
  border-bottom: 2px solid #000;
  text-decoration: none;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

img.profile {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  margin-right: 10px;
}

.posts > p > a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.posts > p > a:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
}
