{% extends "layout.html" %}

{% block title %}
Sell stocks
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus list="tickers" name="symbol" placeholder="AAPL" />
        <datalist id="tickers">
            {% for ticker in tickers %}
            <option value={{ ticker }}>
                {% endfor %}
        </datalist>
    </div>
    <div class="form-group">
        <input class="form-control" name="shares" placeholder=1 type="number">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}